/* header */
header{
  width: 100%;
  height: 60px;
  background-color: #2C3E50;
  align-items: center;
}

header .top{
  height: 100%;
}

header .container .row .col i{
  font-size: 25px;
  padding: 10px;
  border-radius: 5px;
}
/*/ header */


/* jumbotron */
.jumbotron{
  width: 100%; 
  height: 450px;
  background-color: #1abc9c;
}

.jumbotron .container{
  height: 100%;
}

.jumbotron .container .row{
  height: 50%;
}

.jumbotron .container .row .col{
  height: 100%;
}

.jumbotron .container .row .col img{
  height: 100%;
  width: 100%;
}





/*/ jumbotron */



/* main */
.portfolio{
  width: 100%;
  height: 500px;
}

.about{
  width: 100%;
  height: 350px;
  background-color: #1abc9c;
}

.contact{
  width: 100%;
  height: 500px;
}

.footer-up{
  width: 100%;
  height: 150px;
  background-color: #3a546d;
}

.footer-down{
  width: 100%;
  height: 60px;
  background-color: #2C3E50;
}



