body{
  color: white;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  color: white;
}

li{
  list-style: none;
  margin-left: 10px;
}

.portfolio{
  color: black;
}

.contact{
  color: black;
}

.container .row .col .lines .line{
  width: 70px;
  border-bottom: 3px solid;
}